<h1>
    <%= title %>
</h1>
<table>
    <% for(var i=0; i<p.length; i++) {%>
        <tr>
            <td>
                <%= p[i].name %>
            </td>
            <td>
                <%= p[i].order %>
            </td>
        </tr>
        <% } %>
</table>